body {
    background-color: #FFF3CD;
}


img{
    width: 60px;
    background-color: #FFF3CD;
}

.forms{
    background-color: white;
}

form{
    width: 100%;
}

form > label{
    margin-top: 10px;
}


.cursor {
    display: none;
    vertical-align: text-bottom;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50% {
    opacity: 0;
    }
}


@media screen and (min-width:1200px)  {
    .texto, .forms{
        height: 100vh;
    }
}